services:
  - type: web
    name: atom-drops-backend
    env: node
    plan: free
    buildCommand: npm ci --include=dev && npm run build && npx prisma generate
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: DATABASE_URL
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: FRONTEND_URL
        value: https://atom-drops-frontend.vercel.app
      - key: FRONTEND_URLS
        value: https://atom-drops-frontend.vercel.app
      - key: CLOUDINARY_API_KEY
        sync: false
      - key: CLOUDINARY_CLOUD_NAME
        sync: false
      - key: CLOUDINARY_API_SECRET
        sync: false
